:host {
  font-family: 'Merriweather', serif;
}

.disabled-button {
  color: darkgray;
  background: gray;
}

.disabled-button:hover {
  cursor: not-allowed;
}

md-input {
  font-family: 'Merriweather', serif;
  margin-bottom: 5px;
}

.app-input-section {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 5px;
  width: 100px;
  color: darkgray;
  background: white;
}