<div class="container">
  <md-card class="app-input-section">
    <md-input placeholder="Game"
              [(ngModel)]="model.game"></md-input>
    <md-input placeholder="Player One Name"
              [(ngModel)]="model.players[0]">
    </md-input>
    <md-input placeholder="Player Two Name"
              [(ngModel)]="model.players[1]">
    </md-input>
    <md-input placeholder="Winner"
              [(ngModel)]="model.winner">
    </md-input>
    <button md-raised-button [class.disabled-button]="modelNotFull()"
            class="submit-button" (click)="submitResults()">Submit</button>
  </md-card>
</div>